<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyKitOSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MyKitTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MyKitiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C2252B621B8CDCD9006977D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C289AD7B1B62B95700186773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C289AD891B62B97400186773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2B60ACA1B95080800F6D2BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
