<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>#ff4e50</string>
        <string>#ff623b</string>
        <string>#fe8530</string>
        <string>#feac3e</string>
        <string>#fed34d</string>
        <string>#a3dd54</string>
        <string>#36e85f</string>
        <string>#4ddbe0</string>
        <string>#1a9cf4</string>
        <string>#7e73e2</string>
        <string>#d347d1</string>
        <string>#f24092</string>
    </array>
</plist>
